.kotak{
    background-color: white;
    padding: 15px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.pagination div:first-child{
    margin-bottom: 10px;
}
.pagination div:nth-child(2) div:nth-child(2){
    display: none;
}